.contact-details{
    display: grid;    
    justify-items: end;
}
.contact-details-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.25rem;
    justify-items: end;
}

@media only screen and (min-width: 320px) {
    .contact-details-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 600px) {
    .contact-details-content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .contact-details{
        display: grid;    
        justify-items: start;
    }
    .contact-details-content {
        display: grid;
        grid-template-columns: 1fr;        
        justify-items: start;
        gap: 0.3rem;
    }
}
