.skills{
    font-size: x-small;
}

.skill-header{
    font-size: small;
}

.skill{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skillset{
    display: flex;
    flex-direction: column;
}

.tech-skills{
    display: flex;
    flex-direction: column;
    grid-area: skills;
}