.companies{
    display: flex;
    flex-direction: column;
}

.company{
    display: flex;
    flex-direction: column;
}

.company-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.org_name{
    font-size: smaller;
    opacity: 0.75;
}

.role_name{
    font-size: smaller;
    opacity: 0.75;
}

.place-and-date{
    display: flex;
    flex-direction: column;
    font-size: x-small;
    margin-left: auto;
}

.company-content{
    font-size: small;
}