.page{
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
    grid-template-areas:    "intro     intro   contact"
                            "intro     intro   contact"                                 
                            "work      work    work"
                            "education skills  skills"
                            "projects  skills  skills";
                          
    /* gap: 0.5rem; */
    padding: 0.75rem;
    width: 100vw;
    max-width: 210mm;
}

@media screen and (max-width: 600px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-areas:    "intro"
                                "contact"
                                "work"
                                "projects"
                                "skills"
                                "education";
        gap: 1rem;
    }
}

.name-and-intro{
    grid-area: intro;
}

.contact-details{
    grid-area: contact;
}

.tech_skills{
    grid-area: skills;
}

.work-experience{
    grid-area: work;
}

.projects-container{
    grid-area: projects;
}

.education{
    grid-area: education;
}