.page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:    "intro  contact"
                            "intro  contact"                                 
                            "work   work"
                            "education   skills"
                            "projects   skills";                             
    gap: 0.5rem;
    padding: 1rem;
    width: 100vw;
    max-width: 210mm;
}

@media screen and (max-width: 600px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-areas:    "intro"
                                "contact"
                                "work"
                                "projects"
                                "skills"
                                "education";
    }
}

.name-and-intro{
    grid-area: intro;
}

.contact-details{
    grid-area: contact;
}

.tech_skills{
    grid-area: skills;
}

.work-experience{
    grid-area: work;
}

.projects-container{
    grid-area: projects;
}

.education{
    grid-area: education;
}